<div class="container-fluid">

	<h2>Create new interest group</h2>

	<br />



  <div class="row">
	    <div class="col-md-3"></div>
	    <div class="col-md-6">

			<%= render 'form' %>
</br>
			<%= link_to 'Back', interest_groups_path %>
		</div>
		<div class="col-md-3"></div>
  	</div>

</div>
