<div class="container">

<div class="page-header">
  <h3><%= current_user.email.upcase %>'s Profile</h3>
</div>

<div class="jumbotron">
  <h4>My Interest Groups:</h4>

	<ul>
	<% @myigroups.each do |i| %>
		<h5><%= i.name %></h5> 
	<% end %>
	</ul>	
</div>
	

	
	

</div>