<div class="container">

<div class="page-header">
  <h3><%= @user.username.capitalize %>'s Profile</h3>
</div>

<div class="jumbotron">
  <h4>My Interest Groups:</h4>
	<ul>
	<% @igroups.each do |ig| %>
		<% if @user.id.to_i == ig.user_id.to_i %>
			<h5><%= link_to ig.name.titleize, interest_group_path(ig) %></h5>
		<% end %>
	<% end %>

	</ul>	
</div>
<div class="jumbotron">
  <h4>Interest Groups I Follow:</h4>

  	<ul>
	<% @user.interest_groups.each do |i| %>
		<h5><%= link_to i.name.titleize, interest_group_path(i) %></h5> 
	<% end %>
	</ul>	

</div>
	
	 <%= link_to "Create New Interest Group", new_interest_group_path, class: 'btn btn-primary btn-lg' %>

	
	

</div>