<div class="container">
	<h1>User's Location</h1>

	<div id="current_location">

	</div>


	<h3>View all Interest Groups Here are my changes</h3>	

	<ul>
	<% @markers.each do |m| %>
	<li><%= m.title %></li>
	
		<ul>
			<li>Interest Group: <%= m.interest_group.name %></li>
			<li>Address: <%= m.address %></li>
		</ul>

	<% end %>
	</ul>
	

	<%= link_to "Create New Interest Group", new_interest_group_path %>
</div>
<script type="text/javascript">
   function current_location(){ navigator.geolocation.getCurrentPosition(function(position) {
          // get location from browser
             var testid = document.getElementById("current_location");
            current_latitude = position.coords.latitude;
            current_longitude = position.coords.longitude;
            testid.textContent = "Your current location is " + current_latitude + " " + current_longitude;
          
          })};
              
         

        window.onload = current_location;

 </script>