<body id="welcome">
<div class="container">

<div class="title">
<img class="logo" src="http://i.imgur.com/Wk2AJ8V.png"  >
</div>
<% if !current_user %>
				
				<div class="btn-group btn-group-lg" style="margin-bottom: 20px;"><%= link_to "Sign Up", new_user_registration_path, class:'signup btn btn-info btn-lg' %>
				<%= link_to "Sign In", new_user_session_path, class:'signup btn btn-primary btn-lg' %> </div>
				<div class="jumbotron welcometext">
				<p>GeoInterest is a location based interest finder. <br/> Love Dive Bars? <a href="/users/sign_up" ><b>Sign up</b></a> and subscribe to the Dive Bar interest group to always be in the know of the coolest dive bars, wherever you are!</p>
				</div>
				<% else %>

				<%= link_to "Find my Interest Groups", interest_groups_path, class:'signup btn btn-warning btn-lg' %>
 			<% end %>
</div>

</body>

