<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsrce8xS9a6NSyqRQBhP-TmGBQGSCL_aE&sensor=true"></script>

<div class="container">

	<div id="map-canvas"></div>
	
	<div><%= link_to "List View", root_path, class: "btn btn-primary btn-lg" %></div>

</div>