/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

 @import "bootstrap";

.navbar {
 padding-right: 8px;
 padding-left: 8px;
	
}

.container-fluid{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

#map-canvas {
	height: 900px;
	width: 100%;
	margin: 0 auto;
	background-size:50% auto;
}
.newForms{
	text-align:center; 
	padding-left:5px; 
	padding-right:5px; 
	margin-top:10%;
}

.mobileButt{
	font-size: 19pt;
	width: 25%;
	margin:0 auto;
	height:52px;
	border-radius:0 !important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.mobileButt:hover{
	background-color:black !important;
}

.glyphicon{
	text-decoration:none !important; 
	color:#00BC97;
}


