// Place all the styles related to the InterestGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cardboard { 
  background: url('cbyw.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

.marker-sm{
	height:100px;
	width:100px;
	border-radius:900px;
}

.igroup-lg{
	height:200px;
	width:200px;
	margin: 0 auto;
}
.marker-container{
	width:100%; 
	background-size: 100% 100%;  
	height:300px;
	margin-top: -1%;
	background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

#discover {
	background-color: black;
	background-image: url('http://i.imgur.com/UMWttDB.jpg');
	margin-bottom: 15%;
}

.discoverheader {
	color: white; 
	display: inline-block; 
	margin-left: 3%;
}

#rightcreate {
	float: right; 
	display: inline-block; 
	margin-top: 2%; 
	margin-bottom: 2%;
}

.count {
	display: inline-block; 
	margin-right: 2%;
}

.igroup {
	padding: 1.5%;
	.innerbox {
		background-color: #E3E3E4;
		opacity: .85;
		text-align: center;
		padding: 5%;
		color: black;
		border-radius: 25px;
	}
}

	.markerbox {
		text-align: center;
		padding: 1.5%;
		background: #EAEAEA;
		padding-bottom: 8%;
		border-radius: 20px;

}


	.ig-title{
		width: 100%;
		color: white;
		text-align: right;
		bottom: 0;
		text-shadow: 1px 1px #6B6C6C;
		margin-bottom: -7px;
		left: 0;
		right: 0;
		position: absolute;
		font-size: 40pt;
	}


