// Place all the styles related to the InterestGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.marker-sm{
	height:100px;
	width:100px;
	border-radius:900px;
}

.igroup-lg{
	height:200px;
	width:200px;
	margin: 0 auto;
}
.marker-container{
	width:100%; 
	background-size: cover;  
	height:300px;
	margin-top: -1%;
}

#discover {
	background-color: black;
	margin-bottom: 15%;
}

.igroup {
	padding: 1.5%;
	.innerbox {
		background-color: #1F2023;
		opacity: .9;
		text-align: center;
		padding: 5%;
	}
}

	.markerbox {
		text-align: center;
		padding: 1.5%;
}

.titleblock {
	margin-top:66%;
	height: 50%;
	width: 50%;

	.ig-title{
		width: 100%;
		color: white;
		text-align: right;
		margin-top: 66%;
		font-size: 40pt;
	}
}