// Place all the styles related to the Markers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.igroup {
	padding: 1.5%;
	.markerbox {
		background-color: #E3E3E4;
		opacity: .85;
		text-align: center;
		padding: 3%;
		color: black;
		border-radius: 25px;
		margin: 10px;
	}
}