// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}

.profiletop {
	display: inline-block; 
	width: 100%; 
	background-image: url('http://i.imgur.com/UMWttDB.jpg'); 
	padding: 20px; 
	box-shadow: 0px 0px 5px 2px #6B6C6C;
}

.profiletitle {
	width: 50%; 
	float: left; 
	color: white;
}

.profilepic {
	width: 50%; 
	float: right; 
	text-align: right;
}

.profileadd {
	text-align: center; 
	margin: 5px 0 20px 0;
}

.input-group-addon {
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus {
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }