// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	margin-top: 5%;
	margin-bottom: 1%;
}
  .logo {
	width: 250px;
}

.welcometext {
  width: 90%; 
  opacity: 0.7; 
  text-align: center; 
  margin: 0 auto; 
  border-radius: 20px;
}

@media (max-width: 600px) {
	.title {
	margin-top: 20px;
	margin-bottom: 20px;
}
  .logo {
	width: 200px;
}
  }

/*p { 
font-family: 'Montserrat', sans-serif;
color: black;
background: none;
font-size: 35px;
}*/

.signup {
  margin-top: 4%;
  font-family: arial;
  text-align: center;
}

#welcome { 
  background: url('dw.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

