// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
	background-image: url('bg.jpg');
	text-align: center;
	background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.geologo {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  width: 380px;
  height: 400px;
  display: inline-block;
  margin-left: 12%;
}

.title {
 border: 4px solid black;
 font-family: 'Montserrat', sans-serif;
 padding: 20px;
 font-size: 55px;
 margin-top: -15%;
 width: 40%;
 text-align: center;
 margin-left: 29%;
 color: black;

}

.signup {
  margin-top: 4%;
  font-family: arial;
}

.container {
    margin-top: 20px;
}