// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	margin-top: 5%;
	margin-bottom: 1%;
}
  .logo {
	width: 250px;
}


@media (max-width: 600px) {
	.title {
	margin-top: 25%;
	margin-bottom: 15%;
}
  .logo {
	width: 200px;
}
  }

/*p { 
font-family: 'Montserrat', sans-serif;
color: black;
background: none;
font-size: 35px;
}*/

.signup {
  margin-top: 4%;
  font-family: arial;
  text-align: center;
}

#welcome {
  background: url('dw.png');
  background-repeat: no-repeat;
  background: cover;
  text-align: center;
}

